body {
	margin: 10%;
	font-size: 1.2em;
	font-family: Times New Roman;
}

table.funding {
	border-collapse: collapse;
}

table.funding th, td {
	border: 1px solid;
	padding: 0.5em;
}

table.funding th {
	width: 10em;
	background-color: #E0EBF5;
	border-color: black;
}
