<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Funding</title>
  <link href="style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<%- funds.each do |x_fund| -%>
  <h2><%=x_fund['number']%></h2>
  <table class="funding">
    <tr>
      <th>研究種目</th>
      <td><%=x_fund['category']%></td>
    </tr>
    <tr>
      <th>研究課題名</th>
      <td><%=x_fund['title']%></td>
    </tr>
    <tr>
      <th>研究成果</th>
      <td><ol>
        <%- funded_publications[x_fund['number']].each do |x_paper| -%>
        <li><%=make_biblio(x_paper)%></li>
        <%- end -%>
      </ol> </td>
    </tr>
  </table>
<%- end -%>
</body>
</html>
